<!DOCTYPE html>
<html>
<head>
<title>Thomas Hearing</title>
<link rel="stylesheet" type="text/css" href="/style/main.css" />
<meta name="viewport" content="width=500" />
</head>
<body>
<div class="main-wrapper">
	<div class="header">
		<div class="header-title">
			<div class="header-title-text">Thomas Hearing</div>
		</div>
		<div class="header-navbar">
			<a href="/" class="navbar-link"><div class="navbar-item"><div class="navbar-item-text">Home</div></div></a>
			<a href="/projects" class="navbar-link"><div class="navbar-item"><div class="navbar-item-text">Projects</div></div></a>
		</div>
	</div>
	<div class="content">
		{{ content }}
	</div>
	<div class="footer">
	Thomas Hearing &bull; <a href="https://twitter.com/DamnThomasIs">Twitter</a> &bull; <a href="https://github.com/thomashearing">Github</a>
	</div>
</div>
</body>
</html>